@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: rgb(42, 3, 33);
    color: #fff;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.container h1 {
    margin-bottom: 40px;
    text-decoration: underline;
}

.game_board {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));

}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid #fff;
    font-size: 50px;
    font-weight: 600;
    height: 120px;
    cursor: pointer;
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
    border-left: none;
}

.gamePlayer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.player {
    font-size: 20px;
    margin-inline: 20px;
}

.resetbtn {
    border: none;
    background-color: rgb(72, 15, 15);
    color: #fff;
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
}

.cell.disabled {
    background-color: #bcbcbc;
}




@media screen and (max-width : 455px) {
    .game_board {
        grid-template-columns: repeat(3, minmax(90px, 1fr));

    }

    .cell {
        height: 90px;
        font-size: 50px;
    }
}